.footer {
  background-color: rgb(0, 0, 47);
  height: 20em;
  color: white;
}

.footerItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0rem;
}

.footerItems > div {
  max-width: 25%;
}

.title {
  font-family: "DM Serif Display", serif;
  color: #eeeeee;
  font-size: 2em;
  border-style: none;
  text-decoration: none;
}
